@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Spectral&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { grid-area: 1 / 1 / 6 / 6; }
.div2 { grid-area: 1 / 1 / 2 / 6; }
.div3 { grid-area: 2 / 2 / 3 / 5; }
.div4 { grid-area: 3 / 1 / 4 / 6; }
.div5 { grid-area: 4 / 2 / 5 / 5; }



.div2{
    height: 100px;
    display: flex;
    background: rgb(87,53,232);
    background: linear-gradient(90deg, rgba(87,53,232,1) 0%, rgba(124,90,231,1) 34%, rgba(190,56,235,1) 52%);
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#recherche {
    width: 500px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    
}
    